<% layout("/layouts/boilerplate") %>

<a href="/listings"> <img style="height: 3rem; margin-top: 1.5rem; margin-left: 6rem;" src="/images/back-arrow.png" alt=""></a>


  <div class="row">
    <div class="col-4 offset-4">
<br><br>
<div class="container-fluid d-flex justify-content-between align-items-center" style="margin-left: 5.3rem;">

  <a class="navbar-brand" href="/listings"> <img style="height: 3.2rem; margin-left: 4.75rem;"
        src="/images/airbnb.png">

</a>
</div>
<br>
<div style="margin-left: 9rem;">
  <h2><b>Sign Up </b></h2>
</div>
      
<br>
      <form action="/signup" method="POST" novalidate class="needs-validation ">
        <!-- explaint these inn short diffent classes  and attributes like novalidate class="needs-validation valid feedback and invalid feednback and so on  -->
        <div class="mb-2">

          <label for="username" class="form-label">Username</label>
          <input  style="height: 3rem;" type="text" name="username" placeholder="Enter Username" class="form-control" required>
          <div class=" valid-feedback">Valid!</div>
          <div class="invalid-feedback">Invalid!</div>
        </div>
        <!----->
        

                  <div class="mb-2">

          <label for="Password" class="form-label">email</label>
          <input  style="height: 3rem;" type="text" name="email" placeholder="Enter email" class="form-control" required>
          <div class=" valid-feedback">Valid!</div>
          <div class="invalid-feedback">Invalid!</div>
        </div>
        

            <div class="mb-3">

          <label for="password" class="form-label">Password</label>
          <input  style="height: 3rem;" type="password" name="password" placeholder="Enter your password" class="form-control" required>
          <div class=" valid-feedback">Valid!</div>
          <div class="invalid-feedback">Invalid!</div>
        </div>
        <!----->
        
        

       <button  style=" height: 3rem; border-radius: 12px; background-color: #ff365b;font-weight: 600; width: 26rem !important; border: none;" class="btn ms-1 btn-add btn-dark" >Continue</button>
     
         
       <div > 
        <p>Already Signed Up?<a href="/signin"  style=" display: inline !important; color:#ff365b !important ; " class="nav-link "> Go to Sign in</a></p>
      </div>



      </form>
    </div> 
  </div>

  <br>
